.piano-keys {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 0rem;
}

.piano-key-white {
    border: 1px solid grey;
    aspect-ratio: 1/6.857
}

.piano-key-black {
    border: 1px solid grey;
    aspect-ratio: 1/6.857
}