body {
  font-size: calc(10px + 2vmin);
}

a {
  text-decoration: none;
}

button {
  padding: 20px;
  border: none;
  border-radius: 0.375rem;
  border: 1px solid #bbb;
}

.resume {
  margin: auto;
  display: block;
  width: 100%;
}

/* Define the animation keyframes */
@keyframes rotateBackAndForth {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.profile-picture {
  display: block;
  margin: auto;
  width: 250px;
  border-radius: 125px;
  border: 5px solid #ddd;
  animation: rotateBackAndForth 4s linear infinite;
  margin-top: -10px;
}

.navbar {
  background-color: #18181b;
  padding: 5px;
}

.navbar .page-links {
  padding: 5px;
  float: left;
}

.navbar .external-links {
  float: right;
  padding: 5px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.project-list-label {
  text-align: left;
}

.project-list-card .project-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: .5rem;
}

.project-card {
  width: 18rem;
}

.project-card .view-button {
  float: right;
}