.resume-wrapper {
  width: 1000px;
  height: 650px;
  border: none;
  overflow-y: scroll;
  background: linear-gradient(-45deg, #f79f41, #c73d14);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.navbar {
  background-color: #18181b;
  width: 100%;
  height: auto;
}

.navbar .page-links {
  padding: 5px;
  float: left;
}

.navbar .external-links {
  float: right;
  padding: 5px;
}